.LandingPageFormat{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.bh-h1{
    font-family: 'LEMONMILK', sans-serif;
    font-size: 13vw;
    letter-spacing: 1vw;
    color: var(--white);
    display: flex;
    margin-bottom: 15rem;
    margin-top: 15rem;
}

.bh-title{
    display: flex;
    gap:6vw;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    /* overflow: hidden;
    object-fit: cover; */
}

.bh-black{
    display: flex;
}

.bh-hole{
    display: flex;
}