:root{
    background-color: #0e0e0e;
    object-fit: cover;
    overflow: hidden;
}

html{
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'LEMONMILK';
    src: url('/fonts/LEMONMILK-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.bh-h1{
    font-family: 'LEMONMILK', sans-serif;
    font-size: 13vw;
    letter-spacing: 1vw;
    color: aliceblue;
    display: flex;
}

.bh-title{
    display: flex;
    gap:6vw;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}

.bh-black{
    display: flex;
}

.bh-hole{
    display: flex;
}