:root{
    background-color: black;
    object-fit: cover;
    overflow: hidden;

    --white: #EBEBEB;
    --black: #0e0e0e;
}

body{
    /* border:4px solid red; */
    /* padding:5rem; */
    font-family: 'PPMori';
    color: var(--white);
    display: flex;
}

html, body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .body {

  }
}

@media (max-width: 480px) {

}

h1, h2, h3, h4, p{
  margin: 0;
}

@font-face {
    font-family: 'LEMONMILK';
    src: url('/fonts/LEMONMILK-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}    

/* Extralight */
@font-face {
    font-family: 'PPMori';
    src: url('/fonts/PPMori/PPMori-Extralight.otf') format('opentype');
    font-weight: 300; /* Use 300 for light fonts */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'PPMori';
    src: url('/fonts/PPMori/PPMori-ExtralightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
  }
  
  /* Regular */
  @font-face {
    font-family: 'PPMori';
    src: url('/fonts/PPMori/PPMori-Regular.otf') format('opentype');
    font-weight: 400; /* Use 400 for regular fonts */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'PPMori';
    src: url('/fonts/PPMori/PPMori-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
  }
  
  /* Semibold */
  @font-face {
    font-family: 'PPMori';
    src: url('/fonts/PPMori/PPMori-SemiBold.otf') format('opentype');
    font-weight: 600; /* Use 600 for semibold fonts */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'PPMori';
    src: url('/fonts/PPMori/PPMori-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
  }

  .h2BH{
    font-family: 'LEMONMILK';
    font-size: 3rem;
  }



