
.buttonWidth{
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    top:65%;
    width:100vw
}

.nextButton{
    display: flex;
    gap:0.5rem;
    align-items: center;
    justify-content: center;
}

.nextButton:hover{
    cursor: pointer;
}

.nextButton p {
    text-align: center;
    margin-top: 2px;
}

.arrowBH{
    width: 10px;
}