
.nextButton{
    display: flex;
    gap:0.5rem;
    align-items: center;
    position:absolute;
    left:50%;
    top:50%;
    cursor: pointer;
}

.nextButton p {
    text-align: center;
    margin-top: 2px;
}

.arrowBH{
    width: 10px;
}